<p id="notice"><%= notice %></p>
<div class="user_table">

  <p>
    <div class="users-profile-2"><%= image_tag(@user.image) if @user.image? %></div>
  </p>

  <h1>

    <%= @user.fullname %>
  </h1>

  <h2>

    <%= @user.username %>
  </h2>

  <h3>

    <%= @user.email %>
  </h3>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %> |
  <%= link_to 'My Boats', boats_path %>
</div>
