<p id="notice"><%= notice %></p>
<div class="boats_table">
  <h1>Boats</h1>
      <% if user_signed_in? %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Storage</th>
              <th>Location</th>
              <th>Jobs</th>
              <th colspan="4"></th>
            </tr>
          </thead>
        <% current_user.boats.each do |boat| %>
          <tbody>
          <td><%= boat.name %></td>
          <td><%= boat.storage %></td>
          <td><%= boat.location %></td>
          <% jobs_array = Job.all.map {|job| [job.description, job.id]} %>
          <td><%= select_tag(:job_id, options_for_select(jobs_array)) %></td>
          <td><%= link_to "Assign", @boat, method: :patch, remote:true, class: "assign" %></td>
          <td><%= link_to 'Show', boat %></td>
          <td><%= link_to 'Edit', edit_boat_path(boat) %></td>
          <td><%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>

      <% if !user_signed_in? %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Storage</th>
              <th>Location</th>
              <th>User</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        <% @boats.each do |boat| %>
          <tbody>
            <tr>
              <td><%= boat.name %></td>
              <td><%= boat.storage %></td>
              <td><%= boat.location %></td>
              <td><%= boat.user.fullname %></td>
              <td><%= link_to 'Show', boat %></td>
              <td><%= link_to 'Edit', edit_boat_path(boat) %></td>
              <td><%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>


<%= link_to 'New Boat', new_boat_path %>
