<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @boat.storage %>
</p>

<p>
  <strong>Location:</strong>
  <%= @boat.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @boat.user %>
</p>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
